@import '../../styles//_settings';

.button {
  font-size: 1.1rem;
  background-color: $gamma;
  color: white;
  text-transform: uppercase;
  font-family: $font-family;
  font-weight: $font-weight-bold;
  border: 0;
  padding: 0.6rem 1rem;
  cursor: pointer;

  svg {
    margin-right: 0.5rem;
    color: $alpha;
    width: 18px;
    height: 18px;
  }

  &[data-color='yellow'] {
    color: $alpha;
    background-color: $beta;
  }
  &[data-color='yellow-header'] {
    color: $alpha;
    background-color: $beta;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:hover {
    background-color: lighten($gamma, 10);
    transform: translateY(-3px);
    transition: transform 0.2s;

    &[data-color='yellow'] {
      color: $alpha;
      background-color: lighten($beta, 10);
    }
    &[data-color='yellow-header'] {
      color: $alpha;
      background-color: lighten($beta, 10);
    }
  }

  &:active {
    transform: translateY(3px) scaleY(0.8) scaleX(1.2);
    transition: transform 0.1s;
  }
}
