@import '../styles/_utils';

.products {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 3rem;
}

.productWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productTitle {
  padding: 0 1rem;
  font-size: 1.4rem;
  line-height: 1.3;
  text-align: center;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.productPrice {
  margin: auto;
  margin-top: -0.7rem;
  padding: 0 1rem;
  font-size: 1.1rem;
  line-height: 1.3;
  text-align: center;
}

.productImage {
  @extend %card-image;
  transform: rotate(-2deg) scale(1) translateY(-1rem);
  transition: transform 0.1s;

  &:hover {
    transform: rotate(0) scale(1.1) translateY(-1rem);
    transition: transform 0.2s;
  }

  & > div {
    display: block !important;
  }
}
