@import '../styles/_utils';

.products {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 3rem;
}

.productTitle {
  font-size: 1.4rem;
  margin: 0.4rem 0 0;
}

.productPrice {
  margin: 0.4rem 0 0;
}

.productImage {
  @extend %card-image;
  transform: rotate(-2deg) scale(1) translateY(-1rem);
  transition: transform 0.1s;

  &:hover {
    transform: rotate(0) scale(1.1) translateY(-1rem);
    transition: transform 0.2s;
  }

  & > div {
    display: block !important;
  }
}
