.header {
  width: 100%;
  background-color: purple;
  color: white;
  padding: 0.5rem 0;

  p {
    margin: 0.3rem;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerCart {
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bolder;

    svg {
      margin-right: 0.5rem;
    }
  }
}
