@import '../../styles/_settings';

.header {
  width: 100%;
  background-color: $alpha;
  color: white;
  padding: 0;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  cursor: pointer;
  color: $beta;
  font-family: $font-family;
  font-weight: $font-weight-bold;
  font-size: 1.7rem;
  letter-spacing: 1px;
  word-spacing: 2px;
}
