@import '../../styles//_utils';

.productWrapper {
  display: flex;
  justify-content: space-evenly;
}

.productImage {
  @extend %card-image;
  // width: 50%;
  max-width: 400px;
  margin-right: 2rem;
  transform: rotate(2deg) scale(0.9) translateY(-1rem);
  transition: transform 0.1s;

  &:hover {
    transform: rotate(-3deg) scale(1) translateY(-1rem);
    transition: transform 0.2s;
  }

  & > div {
    display: block !important;
  }
}

.productTitle {
  font-size: 1.4rem;
  margin: 0.4rem 0 0;
}

.productPrice {
  margin: 0.4rem 0 0;
}
